/* Universal Styles */

* {
  font-family: 'Roboto', sans-serif;
  text-align: center;  
}

/* Content Header */

.h1 {
  background-color: black;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
  text-align: center;

}

.h2 {
  background-color: black;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
  text-align: center;
}



/* Content Button */

button {
  border-radius: 4px;
  color: #513ff5;
  display: block;
  font-weight: 700;
  text-align: center;  
}

button {
  height: 50px;
  width: 200px;
  display: flex;
  text-align: center;  
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}


button:active {
  border-color: #513ff5;
  border-radius: 4px;
  text-align: center;  
}

p {
  color: rgb(203, 199, 199);
}
