/* Universal Styles */

* {
  font-family: 'Roboto', sans-serif;
  text-align: center;  
}

/* Content Header */

.h1 {
  background-color: black;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
  text-align: center;

}

.h2 {
  background-color: black;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
  text-align: center;
}



/* Content Button */

.button {
  height: 50px;
  width: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

.button {
  background-color: purple;
  color: white;
  border: 2px solid purple;
  border-radius: 10px;
}

.button:hover {
  background-color: purple;
  transition: background-color .15s, font-size .15s;
  font-size: 18px;
}

.button:active {
  border-color: purple;
}


